.profileimg{
 float:left;
 }
 .profileinfo{
 margin-left: 200px;
 font-family:"Comic Sans MS";
 }
 .img{
 margin-top:20px;
 margin-left:50px;
 }

 a{
	text-decoration:none;
	}

	a:link {color:black;}
	a:visited {color:black;}
	a:hover {color:blue;}
 }
 