.profileimg{
 float:left;
 }
 .profileinfo{
 margin-left: 200px;
 font-family:"Comic Sans MS";
 }

 a{
	text-decoration:none;
	}

	a:link {color:black;}
	a:visited {color:black;}
	a:hover {color:blue;}
 }
 .tg  {
 border-spacing:0;
 border:1;
 }
.tg td{
font-family:"Comic Sans MS";
font-size:14px;
padding:10px 5px;
border-style:solid;
border-width:1px;
overflow:hidden;
word-break:normal;
border-color:black;
}
.tg th{
font-family: "Comic Sans MS";
font-size:14px;
font-weight:normal;
padding:10px 5px;
border-style:solid;
border-width:1px;
overflow:hidden;
word-break:normal;
border-color:black;
}
.tg-l60n{
font-family:"Comic Sans MS";
vertical-align:top
}
.timetable{
float:left;
font-family:"Comic Sans MS"

}